:root {
    --var1: #f5f4f0;
    --var2: #453f3a;
    --var-selection: #f5f4f0aa;
}

@font-face {
    font-family: "LM Roman";
    src: url("assets/fonts/lmroman8-regular.otf") format("opentype");
}

.CodeMirror-cursor {
    border: 1px solid var(--var1);
    margin-left: 2px;
    border-radius: 1rem;

}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100dvh;
    max-height: 100dvh;
    width: 100%;
    overflow: hidden;
    background-color: var(--var2);
    display: flex;
    justify-content: center;
}

.cm-formatting {
    color: var(--var1) !important;
}

.cm-s-hypermd-light span.cm-inline-code {
    color: var(--var1) !important;
    font-size: 100% !important;
    font-family: "Fira Code", monospace;
}


.cm-hmd-list-indent {color: transparent !important;}

.CodeMirror {
    background-color: transparent;
    color: var(--var1);
    width: 100%;
    height: 100dvh;
    max-height: 100dvh !important;
    overflow: hidden !important;
    padding: 2rem;
    box-sizing: border-box;
}

.CodeMirror-gutters, .CodeMirror-gutter-wrapper {
    display: none;
}

.cm-editor { height: 50rem; }
.cm-scroller { overflow: auto; }

.CodeMirror {
    font-family: "Fira Code", monospace;
    font-size: 1.5rem;
}

.CodeMirror-selected {
    background:var(--var-selection) !important;
    border-radius: 0.5rem;
}

.cm-header {
    font-family: "LM Roman";
}
.cm-s-hypermd-light pre.HyperMD-quote::before {
    background-image: none !important;
    background-color: var(--var1) !important;
    width: 5px;
}

.cm-quote {
    color: var(--var1) !important;
}
.cm-formatting-quote {color: transparent !important;}


.CodeMirror-line:after {
    background-color: #f5f4f044 !important;
    display: none !important;
}


.HyperMD-codeblock-bg, .CodeMirror-linebackground {
    background-color: transparent !important;
}

.cm-formatting-task {
    background-image: url("assets/check_light.png") !important;
}

.cm-math {
    color: var(--var1) !important;
    background-color: transparent !important;
}

#sidebar {
    transition: all 120ms;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: none;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    opacity: 0;
}

#sidebar * {
    cursor: pointer;
}

#sidebar button {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    background-color: rgba(255,255,255,0.2);
    border-radius: 2.5rem;
    padding: 0.7rem;
}

#sidebar button:hover {
    background-color: rgba(255,255,255,0.3);
}

#sidebar button img {
    height: 100%;
    width: 100%;
}

#prev {
    margin-top: auto;
    rotate: 180deg;
}

.page_control {
    margin-top: auto;
}

#settings {
    margin-left: auto;
}

#menu {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
    background-color: #453f3a;
    border: 1px solid var(--var1);
    border-radius: 1rem;
    color: var(--var1);
    padding: 2rem;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}